<div id='offset1' class="row"></div>

<div class="row">
    <div id="entrance" class="col-md-4 offset-md-2">
        <div id="entrance-header" class="row">
            <div id="entrance-header-left" class="col-md-6">
                <img src="/assets/drive_icon.svg" alt="">
                <p>Drive</p>
            </div>
            <div id="entrance-header-right" class="col-md-6">
                <img src="/assets/ride_icon.svg" alt="">
                <p>Ride</p>
            </div>
        </div>

        <div id="entrance-main-1" class="row">
            <h2>Get in the driver's seat and get paid</h2>
            <p>Drive on the platform with the largest network of active riders.</p>
            <%= button_to "Sign up to drive", new_driver_path, :method=>"get", :class => "btn btn-primary" %>
        </div>

        <div id="entrance-main-2" class="row">
            <h2>Request a ride now</h2>
            <p>Explore the wrold with Ubor, we are always with you</p>
            <%= button_to "Sign up to ride", new_customer_path, :method=>"get", :class => "btn btn-success" %>
        </div>
    </div>
</div>










