<% if @current_customer.present? %>
    <p>Hey customer, you are logged in as <%= @current_customer.email %></p>
<% elsif @current_driver.present? %>
    <p>Hey driver, you are logged in as <%= @current_driver.email %></p>
<% else %>
    <p>You are not logged in</p>
<% end %>

