<div class="row">
    <div id="sign_in_drive" class="col-md-4 log_in">
        <h4><%= link_to "Signup to drive", new_driver_path %></h4>
        <h4 class='arrow'>→</h4>
    </div>
    <div id="sign_in_ride" class="col-md-4 log_in">
        <h4><%= link_to "Create a rider account", new_customer_path %></h4>
        <h4 class='arrow'>→</h4>
    </div>
</div>