// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#booking-show-offset1 {
    height: 10vh;
    z-index: -1;
}

#booking-show-main {
    height: 70vh;
    margin-right: 5vw;
}

.button {
    display: inline-block;
}

#booking-new {
    margin-top: 10vh;
}
