body.pages.home {
    background-image: url('hero_banner_1.jpeg');
    background-size: cover;   
    transition: 2s;
}

body.pages.home.driver {
    background-image: url('hero_banner_2.jpeg');
    background-size: cover;   
    transition: 2s;
}

body.pages.login h3 {
    display: inline-block;
}

#entrance-main-2 {
    display: none;
}

.log_in {
    color: black;
    border-bottom: 1px solid black;
    display: flex;
    margin: 0 auto;
    margin-top:30vh;
    padding:6vh;
    justify-content: space-between;
}

.log_in a{
    color: black;
    text-decoration: none;
}

.log_in a:hover{
    color: grey;
}

#offset1 {
    height: 10vh;
}

#entrance {
    height: 60vh;
    background-color: white;
}

#entrance-main-1 {
    padding: 10%;
    font-size: 10px;
}

#entrance-main-2 {
    padding: 10%;
    font-size: 10px;
}

#entrance-main h2 {
    margin-bottom: 20px;
}

#entrance-header {
    border-bottom: 1px solid rgba(128, 128, 128, 0.233);
    text-align: center;
    padding-top: 4%;
    font-size: 10px;
}
